*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style-type: none;
}
a{
    text-decoration:none ;
    
}
.container{
    width:calc(100% - 330px) ;
    margin: auto;
    

}
@media screen and (min-width:0px) and (max-width: 1040px) {
    .container{
        width: calc(100% - 150px);
    }
}
@media screen and (min-width:0px) and (max-width: 600px) {
    .container{
        width: 100%;
        padding: 0 20px;
    }
}

.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header .row{
    justify-content: space-between;
}
.header ul{
    display: flex;
}
.list1 ul{
    gap:60px
    
}
.list2 ul{
    gap:24px
}
.header{
    padding:21.84px
}
.list1 a{
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
    color: #3A3845;
}
.menu{
    display: none;
}
@media screen and (min-width:320px) and (max-width: 1040px) {


    .list1{
        display: none;
    }
    .list2{
        display: none;
    }
    .menu{
        display: block;
    }

   

}